services:
    web:
        build: vuejs/.
        volumes:
            - ./vuejs:/app
            - /app/node_modules
    api:
        build: fastapi/.
        env_file:
            - secrets/api.env
            - secrets/postgres.env
            - secrets/organisation.env
        depends_on:
            - postgres
        environment:
            # Fix for running python inside the docker container
            - PYTHONPATH=/code
            
    postgres:
        image: postgres:16.1
        volumes:
            - becycle_db_volume:/var/lib/postgresql/data
            - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
            # - ./postgres/postgresql.conf:/var/lib/postgresql/data/postgresql.conf
        env_file:
            - secrets/postgres.env
            
volumes:
    becycle_db_volume:
