PRODUCTION=false
CORS_ALLOW_ORIGIN=http://localhost:5173

API_HOST_ADDRESS=localhost
API_HOST_PORT=8000
API_SECRET_ALGORITHM=HS256
API_SECRET=

ACCESS_TOKEN_EXPIRE_MINUTES=10080
CLIENT_EMAIL_VERIFY_EXPIRE_MINUTES=1440
CLIENT_LOGIN_CODE_EXPIRE_MINUTES=60
CONTRACT_EXPIRE_MONTHS=6

POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=

SMTP_PORT=465
SMTP_SERVER=smtp.gmail.com
EMAIL_FROM=localhost@localhost.localhost
GOOGLE_ACCOUNT=
GOOGLE_APP_PASSWORD=