<h2>Your Details</h2>
<p>{{ contract.client.firstName }} {{ contract.client.lastName }}</p>
<h2>Bike Details</h2>
<p>{{ contract.bike.make }} {{ contract.bike.model }}</p>
<p>Colour: {{ contract.bike.colour }}</p>
<p>Serial number: {{ contract.bike.serialNumber }}</p>
<h2>Contract Details</h2>
<p>Deposit paid: &#163;{{ contract.depositAmountCollected }}
<p>Valid from: {{ contract.startDate.strftime("%d %B %Y") }}</p>
<p>Valid until: {{ contract.endDate.strftime("%d %B %Y") }}</p>
<p>Notes: {{ contract.notes }}</p>
<br>