<h3>Further information</h3>
<p>You can view your contract at <a href='https://becycle.uk/'>becycle.uk</a> by logging in as a
    client with your email address and going to your profile.<br>
    To retain your deposit, please keep the bike in working condition and return it before the expiry date.
    If there are any problems with the bike, please book a repair appointment and we will assist you with 
    repairs.<br>
    If you wish to keep the bike for longer, you can extend your contract by another 6 months.<br>
    To return the bike or extend the contract, please come to the workshop during our opening hours.
    No appointment is needed for this.<br>
    In the case of returning the bike, we will assess the condition of the bike to determine if the full
    deposit can be paid back. In the case of extending the contract, we will check the bike for safety-related
    problems.</p>
<h4>Terms of Loan</h4>
<p>
    Bicycle (Bike) Release Form: Terms of Loan) The agreed deposit is made and kept as a retainer against the value
    of the bike and released back to You (Keeper) upon the return of the borrowed bike – in satisfactory condition.
    BeCYCLE Workshop reserves the right to deduct money from the deposit if and when any damage or excessive
    wear and tear occurs to the bike – and/or the bike was kept by You over the agreed rental period. The bike, when
    loaned is the full and sole responsibility of You (Keeper) therefore You are entrusted with the burden of
    ownership, maintenance, and upkeep. It is completely at your own risk that the bike is maintained and operated
    within reasonable use – to ensure Your personal safety.
</p>